.nav {
  /* flex box layout */
  display: flex;
  flex-flow: column;
  align-items: center;
  /* margin: 0 0 30px; */
  background-color: #363F46;
  overflow: hidden;
  height: 100%;
  width: 150px;
}

.nav a {
  text-decoration: none;
}

.titleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-title {
  font-size: 36px;
  color: #f2f2f2;
  padding-left: 20px;
  margin-bottom: 30px;
  margin-top: 10px;
  font-family: 'Blinker', sans-serif;

}

.linkContainer {
  display: flex;
  flex-flow: column;
  width: 100%;

}

.navLink {
  display: block;
  color: #f2f2f2;
  background-color: #363F46;
  text-align: center;
  padding: 24px 10px;
  width: 100%;
  text-decoration: none;
  font-size: 15px;

  /* these last two make the logout button in
  the nav bar look like another link */
  border: none;
  cursor: pointer;
  outline: 0;
}

.navLink:hover {
  background-color: #333;
}
